.lista{
    max-width: 800px;
    margin: 14px auto;
}
.lista article{
   width: 100%;
   background-color: #fff;
   padding: 15px;
   border-radius: 4px;
}
.lista img{
    width: 700px;
    max-width: 100%;
    max-height: 800px;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.lista strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 25px;
    display: block;
}
.lista a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    font-size: 24px;
    background-color: #1a2c4e;
    text-decoration: none;
    color: #0f1b2b;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: background-color 0.5s ease, color 0.5s ease; 
}

.lista a:hover {
    background-color: #61DAFB; 
    color: #ffffff;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}